<body style="background-image: url('https://wallpaperset.com/w/full/2/6/a/527082.jpg'); background-size: 100% 100%; color: white">
<%= @game.player1.name %> vs. <%= @game.player2.name %>

<br>

<%= @game.player1.name %>:<font color='red'> 60 HP</font>

<%= @game.player2.name %>:<font color='red'> 60 HP</font>

<br> 

<a href="/attack">attack</a>

<br>


<a href="/">Pick new contenstants</a>

<br>

<%= @game.player1.name %> vs. <%= @game.player2.name %>

<br>

<%= @game.player2.name %>: <%= @game.player2.hit_points %>HP